*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

#root {
  width: 100%;
}

body {
  font-family: 'Orbitron', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.4rem;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0 1rem;
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #232323;
}

.drum-machine {
  background: #ba2020;
  padding: 1.5rem;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.52), 9px 8px 4px rgba(0, 0, 0, 0.63),
    14px 16px 5px 0px rgba(0, 0, 0, 0.22);
  border-radius: 20px;
  border: 8px outset #a6110f;
  border-left: 8px inset #a6110f;
  outline: none;
}

.drum-machine-container {
  display: flex;
  width: 100%;
  max-width: 1100px;
  min-width: 580px;
  margin: 0 auto;
}

.pads-display-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(6rem, 1fr));
  grid-template-rows: repeat(4, 140px);
  grid-gap: 10px;
  gap: 10px;
  width: 70%;
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  grid-area: 1 / 1 / 2 / -1;
  background: #ffc107;
  overflow: hidden;
  border: 5px inset #6f3030;
  color: #ba2020;
  font-size: clamp(2.2rem, 4vw, 4rem);
  white-space: nowrap;
}

.display:after {
  content: '';
  top: 0;
  transform: translateX(-120%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  animation: slide 3s 2s ease-out infinite;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  );
}

/* display animation */

@keyframes slide {
  0% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(100%);
  }
}

.pad-button {
  --opacity: 0;
  font-family: 'Orbitron', sans-serif;
  font-size: 2.5rem;
  background: radial-gradient(#1a4669, #00bcd4);
  background: radial-gradient(#1a4669, rgba(0, 188, 212, var(--opacity)));
  color: transparent;
  text-shadow: 1px 1px 2px #ffffff54;
  box-shadow: -4px -4px 1px rgb(186, 32, 32), 5px 5px 5px 0px rgb(105, 22, 21);
  border: none;
  outline: none;
  cursor: pointer;
}

.pad-button.active {
  color: rgba(255, 193, 7, 0.6);
}

.pad-button:active {
  color: rgba(255, 193, 7, 0.6);
}

.controls {
  padding: 0 1rem 0 2rem;
}

.control-heading {
  font-size: clamp(1.4rem, 3vw, 2.5rem);
  white-space: nowrap;
  margin: 0 0 0.3rem 0;
  color: rgba(0, 0, 0, 0.9);
}

.sound-banks {
  flex: 1;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.volume {
  margin-top: 3rem;
}

.volume input[type='range'] {
  width: 100%;
  cursor: pointer;
}
